[submodule "CalcApp"]
	path = CalcApp
	url = https://github.com/martinj-jaime/CalcApp
[submodule "WeatherApp"]
	path = WeatherApp
	url = https://github.com/martinj-jaime/WeatherApp
[submodule "weather_reduxConnect"]
	path = weather_reduxConnect
	url = https://github.com/martinj-jaime/weather_reduxConnect
[submodule "react_CustomerABM"]
	path = react_CustomerABM
	url = https://github.com/martinj-jaime/react_CustomerABM
[submodule "recoil_simple-todosapp"]
	path = recoil_simple-todosapp
	url = https://github.com/martinj-jaime/recoil_simple-todosapp
